body {
    background-color: #fff1d4;
    color:#555;
    font:14px/1.3 Arial,sans-serif;
}

.main {
    margin:10;
    padding:10;
}

.radius {
    border-radius: 16px;
    border: 1px solid Silver;
    padding: 20px;
    padding-top: 0px;
    width: 520px;
  }

