body {
    background-color: #fff1d4;
    color:#555;
    font:14px/1.3 Arial,sans-serif;
}

.main {
    margin:10;
    padding:10;
}

h1 {
  color: black;
  height: 35px;
  /*background: url("octopus-72.png ") top left no-repeat;
  right: 100px;
  position: relative; left: 50px;
  padding: 0 0 70px 0;
  margin: 0 0 0 -2000px;*/
}

h2 {
    color: black;
}

h3 {
    color: darkorange;
}

.right_line {
    border-right-style: 1px solid Silver;
}

.radius {
    border-radius: 8px;
    border: 1px solid Silver;
    padding: 20px;
    padding-top: 0px;
    width: 520px;
  }

.radius_100 {
    border-radius: 8px;
    border: 1px solid Silver;
    padding: 20px;
    width: 399px;
  }

.radiusgroup {
    background-color: #fff8f2;
    border-radius: 8px;
    border: 1px solid dimgray;
    padding: 20px;
    padding-top: 0px;
    width: 560px;
  }

.button {
    display: inline-block; background-color: darkorange; border: none; 
    border-radius: 5px; color: white; padding: 8px 32px; text-decoration: none; 
    font-size: 20px; margin: 2px; cursor: pointer;
}

.button:hover {
    color: maroon;
    background-color: orange;
    border-color: black;
    transition: 0.35s;
}

.button1 {
    display: inline-block; background-color: darkorange; border: none; 
    border-radius: 5px; color: white; padding: 8px 32px; text-decoration: none; 
    font-size: 20px; margin: 2px; cursor: pointer; width: 339px;
}

.button1 a:hover {
    text-decoration: none;
    color: maroon;
}

.button1:hover {
    color: maroon;
    background-color: orange;
    border-color: black;
    transition: 0.35s;
}

.button2 {
    display: inline-block; background-color: silver; border: none; 
    border-radius: 5px; color: black; padding: 8px 32px; text-decoration: none; 
    font-size: 20px; margin: 2px; cursor: pointer; width: 339px;
}
